{% extends 'base.html' %}

{% block head %}
{% endblock head %}

{% block content %}
    <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="page-header">
			<h1>{{ project.title }}<small></small></h1>
        </div>
    <div class="hero-unit" style="padding: 3px; font-size:10px">
     <!--div style="text-align: left; padding: 5px; border: 1px solid #ddd; border-radius: 20px;" class="centering" -->
      <div id="vendorsList" style="float:left; width:385px; margin-right: 5px; ">
       <table>
          <th><td>
               Bids by endors
          </td></th>
           {% for bid in project.bid_set.all %}
          <tr>
				{% autoescape off %}
				<div style="border-radius: 10px; background-color: #FFF2BF; padding: 10px; margin-bottom: 10px;">
					<h3>{{ bid.vendor.name }}</h3>
					<hr style="margin: 0px;" />
				 <p>Rating: ★★★½ {{ bid.vendor.rating }}</p>

              <p style="font-size: 90%">{{ bid.description }}</p>
			 			  <style>
				  p {  line-height: auto; }
			  </style>
			  <div style="font-size: 12px; border: 0px solid gray; line-height: auto;">
				<h4>Address</h4>
			  <p style="font-size: 12px; line-height: 12px;">{{ bid.vendor.address.street }}</p>
              <p style="font-size: 12px; line-height: 12px; ">{{ bid.vendor.address.city}}</p>
              <p style="font-size: 12px; line-height: 12px; ">{{ bid.vendor.address.state }}</p>
			  <p style="font-size: 12px; line-height: 12px; " >{{ bid.vendor.address.zip }}</p>
		  </div>
	  </div>
	  <hr />

			  {% endautoescape %}
          </tr>
           {% endfor %}
       </table>
      </div>

      <div id="buyInPalsList" style="float:right; width:210px; border-left:1px solid gray; padding-left: 8px;">
      <table>
		  <th><td><h3>BuyIn Pals</h3></td></th>
          <tr>
           <table style="border:1px solid grey">
              <tr><td>User </td><td>caren</td></tr>
              <tr><td>Street Name</td><td>main st.</td></tr>
              <tr><td>ZipCode</td><td>08536</td></tr>
           </table>
          </tr>
          <tr>
           <table style="border:1px solid grey">
              <tr><td>User </td><td>ajain</td></tr>
              <tr><td>Street Name</td><td>main st.</td></tr>
              <tr><td>ZipCode</td><td>08536</td></tr>
           </table>
          </tr>
          <tr>
           <table style="border:1px solid grey">
              <tr><td>User </td><td>knownpal</td></tr>
              <tr><td>Street Name</td><td>nassau blvd.</td></tr>
              <tr><td>ZipCode</td><td>08536</td></tr>
           </table>
          </tr>
          <tr>
           <table style="border:1px solid grey">
              <tr><td>User </td><td>goodfriend</td></tr>
              <tr><td>Street Name</td><td>prospect ave</td></tr>
              <tr><td>ZipCode</td><td>08536</td></tr>
           </table>
          </tr>
          <tr>
           <table style="border:1px solid grey">
              <tr><td>User </td><td>NextDoorNeigbhor</td></tr>
              <tr><td>Street Name</td><td>main st.</td></tr>
              <tr><td>ZipCode</td><td>08536</td></tr>
           </table>
          </tr>
          <tr>
           <table style="border:1px solid grey">
              <tr><td>User </td><td>Neigbhor2</td></tr>
              <tr><td>Street Name</td><td>main st.</td></tr>
              <tr><td>ZipCode</td><td>08536</td></tr>
           </table>
          </tr>

      </table>

      </div>
   <!--/div-->
  </div> <!-- hero-unit -->

    <!-- Example row of columns -->

    <footer style="clear: both">
      <p>&copy; Buying Pals 2011</p>
    </footer>

{% endblock content %}
