{% extends 'base.html' %}

{% block head %}
    <style type="text/css">
  #map {
    height: 250px;
    width: 450px;
    border: 1px solid #333;
    margin-top: 0.6em;
  }
</style>

<script type="text/javascript" src="//maps.googleapis.com/maps/api/js?sensor=true&libraries=places"></script>
<script type="text/javascript" charset="utf-8">
    var map;
    var infowindow;

    function initialize() {
        var pyrmont = new google.maps.LatLng(40.349777, 	-74.659814);

        map = new google.maps.Map(document.getElementById('map'), {
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            center: pyrmont,
            zoom: 11
        });

        infowindow = new google.maps.InfoWindow();

        $.getJSON('/factual', function(data) {
            $.each(data.response.data, function (i, place) {
                var myLatlng = new google.maps.LatLng(place.latitude,place.longitude);

                var marker = new google.maps.Marker({
                    map: map,
                    position: myLatlng
                });
                console.log(place);
                google.maps.event.addListener(marker, 'click', function() {
                    infowindow.setContent(place.name + "\n" + "<br />Powered by Factual");
                    infowindow.open(map, this);
                });
            })
        });

    }


    google.maps.event.addDomListener(window, 'load', initialize);
</script>
{% endblock head %}

{% block content %}
    <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="page-header">
			<h1>{{ project.title }}<small></small></h1>
        </div>
    <div class="hero-unit">
		  <div style="text-align: center; padding: 20px; border: 1px solid #ddd; border-radius: 20px;" class="centering">
		      <div id="map"></div>
	  </div>

    <div class="hero-unit" style="padding: 3px; font-size:10px">
     <!--div style="text-align: left; padding: 5px; border: 1px solid #ddd; border-radius: 20px;" class="centering" -->
      <div id="vendorsList" style="float:left; width:380px; margin-right: 5px;">
       <table>
          <th><td>
               Bids by vendors
          </td></th>
           {% for bid in project.bid_set.all %}
          <tr>
				{% autoescape off %}
				<div style="border-radius: 10px; background-color: #FFF2BF; padding: 10px; margin-bottom: 10px;">
					<h3>{{ bid.vendor.name }}</h3>
					<hr />
				 <p>Rating: ★★★½ </p>

              <p style="font-size: 90%">{{ bid.description }}</p>
			 			  <style>
				  p {  line-height: auto; }
			  </style>
			  <div style="font-size: 12px; border: 0px solid gray; line-height: auto;">
				<h4>Address</h4>
			  <p style="font-size: 12px; line-height: 12px;">{{ bid.vendor.address.street }}</p>
              <p style="font-size: 12px; line-height: 12px; ">{{ bid.vendor.address.city}}</p>
              <p style="font-size: 12px; line-height: 12px; ">{{ bid.vendor.address.state }}</p>
			  <p style="font-size: 12px; line-height: 12px; " >{{ bid.vendor.address.zip }}</p>
		  </div>
	  </div>
	  <hr />

			  {% endautoescape %}
          </tr>
           {% endfor %}
       </table>
      </div>

      <div id="buyInPalsList" style="float:right; width:110px;padding-left: 3px;">
      <table>
		  <th><td><h3> Pals</h3></td></th>
          {% for member in project.members.all %}
          <tr>
           <table style="">
              <tr><td>User </td><td>{{ member.username }}</td></tr>
              <tr>
                  
              </tr>
           </table>
          </tr>
          {% endfor %}
      </table>

      </div>
   <!--/div-->
  </div> <!-- hero-unit -->

    <!-- Example row of columns -->

    <footer style="clear: both">
      <p>&copy; Buying Pals 2011</p>
    </footer>

{% endblock content %}
