{% extends 'base.html' %}

{% block head %}

    <style type="text/css">
      /* Override some defaults */
      html, body {
        background-color: #eee;
      }
      body {
        padding-top: 40px; /* 40px to make the container go all the way to the bottom of the topbar */
      }
      .container > footer p {
        text-align: center; /* center align it with the container */
      }
      .container {
        width: 640px; /* because friend center projector is a piece of crap, limit it to 640 */
      }

      /* The white background content wrapper */
      .container > .content {
        background-color: #fff;
        padding: 20px;
        margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
        -webkit-border-radius: 0 0 6px 6px;
           -moz-border-radius: 0 0 6px 6px;
                border-radius: 0 0 6px 6px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
                box-shadow: 0 1px 2px rgba(0,0,0,.15);
      }

      /* Page header tweaks */
      .page-header {
        background-color: #f5f5f5;
        padding: 20px 20px 10px;
        margin: -20px -20px 20px;
      }

      /* Styles you shouldn't keep as they are for displaying this base example only */
      .content .span10,
      .content .span4 {
        min-height: 500px;
      }
      /* Give a quick and non-cross-browser friendly divider */
      .content .span4 {
        margin-left: 0;
        padding-left: 19px;
        border-left: 1px solid #eee;
      }

      .topbar .btn {
        border: 0;
      }

    </style>
{% endblock head %}

{% block content %}

      <div class="content">
        <div class="page-header">
			<h1>It's on, yo! <small>Tell your friends all about it.</small></h1>
        </div>
        <div class="row">
          <div class="span10">
			<h4>Share this URL with friends:</h4>
			<a href="1.html">http://www.buyingpals.com/posts/123</a>
			<hr />
			<h3>Details</h3>
<table width="400" border="1">
    <tr>
      <td><label for="zipCode">Zip Code</label></td>
      <td>08540</td>
    </tr>
    <tr>
		<td><label for="categorySelect">Category</label></td>
      <td><select name="categorySelect" id="categorySelect">
        <option value="carpetCleaning">Carpet cleaning</option>
        <option value="chimneySweep">Chimney sweeping</option>
        <option value="leafBlowing">Leaf blowing</option>
        <option value="snowRemoval">Snow removal</option>
      </select></td>
    </tr>
    <tr>
		<td><label for="consumerInterestBy">Consumer express interest by</label></td>
		<td>12/1/2011</td>
    </tr>
    <tr>
		<td><label for="servicePerformedBy">Service performed by</label></td>
      <td>1/1/2012</td>
    </tr>
    <tr>
		<td><label for="vendorResponseBy">Vendor response in</label></td>
      <td>1/6/2012<td>
    </tr>
</table>
          </div>
          <div class="span9">
			  <h3>Notes</h3>
			  <p>Cardigan put a bird on it yr, williamsburg brunch quinoa art party single-origin coffee wayfarers marfa. Mlkshk williamsburg PBR messenger bag twee iphone. Locavore wayfarers VHS, 3 wolf moon portland leggings irony bicycle rights raw denim hoodie pitchfork you probably haven't heard of them wolf stumptown blog. Aesthetic retro cred artisan, mixtape hoodie salvia raw denim mlkshk vegan ethical organic master cleanse thundercats banh mi. Irony retro sustainable cred artisan butcher, quinoa iphone Austin. Squid jean shorts trust fund, pitchfork master cleanse viral dreamcatcher brunch. Wayfarers etsy mlkshk lomo tofu echo park 3 wolf moon, single-origin coffee Austin butcher terry richardson seitan banksy biodiesel bicycle rights.</p>
          </div>
        </div>
      </div>

      <footer>
        <p>&copy; Company 2011</p>
      </footer>
{% endblock content %}