{% load static %}
{% get_static_prefix as STATIC_PREFIX %}


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Buying Pals{% endblock %}</title>
    <meta name="description" content="Really good deals">
    <meta name="author" content="me@onpaws.com">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    
    <link href="{{ STATIC_PREFIX }}css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
        body {
            padding-top: 60px;
        }
    </style>
    
    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="{{ STATIC_PREFIX }}images/favicon.ico">
    <link rel="apple-touch-icon" href="{{ STATIC_PREFIX }}images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ STATIC_PREFIX }}images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ STATIC_PREFIX }}images/apple-touch-icon-114x114.png">
    
    <script type="text/javascript" src="{{ STATIC_PREFIX }}js/jquery-1.7.js"></script>
    {% block head %}{% endblock %}
  </head>

  <body>

    <div class="topbar">
      <div class="fill">
        <div class="container">
			<a class="brand" href="/"><!--<img style="padding: 0px" src="/static/images/logo-square-small.png" />-->BuyIn Pals</a>
          <ul class="nav">
          <li><a href="vendors">Service Providers</a></li>
          </ul>
		  <form action="login" class="pull-right">
			  <!--
			  <input class="input-small" type="text" placeholder="Username">
            <input class="input-small" type="password" placeholder="Password">
			-->
            <button class="btn" type="submit">Sign in</button>
          </form>
        </div>
      </div>
    </div>

    <div class="container">
     {% block content %}
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
		  <img style="padding: 0px;" src="/static/images/BuyinPalsLogo.jpg">
        <h1 style="text-align: center; padding: 10px 0;">Welcome!</h1>
		<p>BuyIn Pals is a matchmaking portal between trusted vendors and a group of buyers of home care maintenance services in a shared geography.  The group of buyers leverages and enhances the power of social networks to inform the process and save money among the participants.</p>
		<p><a class="btn primary large pull-right" href="login">Try it &raquo;</a></p>
		<div class="clearfix" style="padding-bottom: 10px;">&nbsp;</div>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span-one-third">
          <h2>Posts</h2>
          <p>If you want to recruit some BuyIn Pals in your area for your near-term home repair or maintenance project, you need to initiate the project here.  It’s quick, easy and you could save hundreds of bucks and a lot of hassle. Let’s get ‘er started.</p>
          <p><a class="btn" href="post">New post &raquo;</a></p>
        </div>
        <div class="span-one-third">
          <h2>Search</h2>
           <p>Are you looking to see if BuyIn Pals are in your area for a service you also need?  Step up to the plate now please to see what the world of home maintenance has in store for you.  And, if you don’t see what you need, it’s cake to start a new BuyIn Pals project.  </p>
          <p><a class="btn" href="search">Search for opportunities&raquo;</a></p>
       </div>
        <div class="span-one-third">
          <h2>How It Works</h2>
          <p>Buying Pals is a matchmaking site between trusted vendors and a group of buyers of home care maintenance services in a shared geography.  The group helps to inform the service provider list through the power of social networks so your chances of finding a great resource is exponentially enhanced.  Check it out.</p>
          <p><a class="btn" onclick="return false;" href="comingsoon.html">View details &raquo;</a></p>
        </div>
      </div>

	  <div class="something">
		  <h2>Service Providers</h2>
		  <p>New service providers are being discovered all the time. Check back soon...</p>
	  </div>
      <footer>
	  <p>Copyright ©2011 BuyIn Pals Inc. All Rights Reserved. Designated trademarks and brands are the property of their respective owners. Use of this Web site constitutes acceptance of the BuyIn Pals <a href="#">User Agreement</a> and <a href="#">Privacy Policy</a>. </p>
      </footer>
      {% endblock content %}
    </div> <!-- /container -->

  </body>
</html>
