{% load static %}
{% get_static_prefix as STATIC_PREFIX %}


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Buying Pals{% endblock %}</title>
    <meta name="description" content="Really good deals">
    <meta name="author" content="me@onpaws.com">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    
    <link href="{{ STATIC_PREFIX }}css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
        body {
            padding-top: 60px;
        }
    </style>
    
    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="{{ STATIC_PREFIX }}images/favicon.ico">
    <link rel="apple-touch-icon" href="{{ STATIC_PREFIX }}images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ STATIC_PREFIX }}images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ STATIC_PREFIX }}images/apple-touch-icon-114x114.png">
    
    {% block head %}{% endblock %}
  </head>

  <body>

    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="/">Buying Pals</a>
          <ul class="nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="projects">Projects</a></li>
            <li><a href="vendors">Service Providers</a></li>
          </ul>
		  <form action="signin.html" class="pull-right">
			  <!--
			  <input class="input-small" type="text" placeholder="Username">
            <input class="input-small" type="password" placeholder="Password">
			-->
            <button class="btn" type="submit">Sign in</button>
          </form>
        </div>
      </div>
    </div>

    <div class="container">
     {% block content %}
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Welcome!</h1>
		<p>Buying Pals is a matchmaking portal between trusted vendors and a group of buyers of home care maintenance services in a shared geography.  The group of buyers leverages and enhances the power of social networks to inform the process and save money among the participants.</p>
        <p><a class="btn primary large">Try it &raquo;</a></p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span-one-third">
          <h2>Posts</h2>
          <p>Fixie tofu wes anderson, mcsweeney's bicycle rights single-origin coffee stumptown wolf marfa skateboard messenger bag cliche.</p>
          <p><a class="btn" href="post.html">New post &raquo;</a></p>
        </div>
        <div class="span-one-third">
          <h2>Search</h2>
           <p>Helvetica retro yr, brunch brooklyn dreamcatcher +1 fixie lo-fi cred portland shoreditch you probably haven't heard of them. Farm-to-table vice american apparel, put a bird on it blog brunch etsy synth brooklyn fanny pack aesthetic butcher sartorial.</p>
          <p><a class="btn" href="#">Search for opportunities&raquo;</a></p>
       </div>
        <div class="span-one-third">
          <h2>How It Works</h2>
          <p>Tumblr VHS tofu mustache synth. Leggings fixie scenester, readymade skateboard fanny pack squid farm-to-table shoreditch before they sold out viral. Squid four loko put a bird on it gentrify food truck vice. PBR twee art party, cosby sweater gluten-free pitchfork portland sartorial +1 master cleanse etsy ethical keffiyeh cliche lo-fi.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
      </div>

	  <div class="something">
		  <h2>Service Providers</h2>
		  <p>New service providers are being discovered all the time. Check back soon...</p>
	  </div>
      <footer>
        <p>&copy; Buying Pals 2011</p>
      </footer>
      {% endblock content %}
    </div> <!-- /container -->

  </body>
</html>